h2 {
    font-weight: bold;
    text-align: center;
}

p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.input {
    text-align: center;
    border-radius: 10px;
    margin: auto;
    width: 50%;
}

#main_nav {
    font-size: 30px;
    font-weight: bold;
    color: #20d320;
    text-shadow: 2px 2px 4px #000000;
}

#container_main {
    width: 50%;
    margin: auto;
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #888888;
}

#container_index1 {
    width: 50%;
    font-weight: bold;
    text-align: center;
    color:#1f1f1f;
    margin: auto;
    background-color: #a3c7e9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 0px 8px #888888;
}

#button_Submit {

    font-weight: bold;
    background-color: #47b456;
    border-radius: 5px;
}

#button_Clear {

    font-weight: bold;
    color: #f2f2f2;
    background-color: #d82d2d;
    border-radius: 5px;
}